.top {
    text-align: right;
    padding: 5px;
    padding-right: 10px;
    width: 80%;
    float: right;
}
.default-body {
    text-align: center;
    font-family: arial, sans-serif;
}
#index-image-form {
    padding: 40px;
    text-align: center;
}
.search {
    width: 40%;
    border-radius: 25px;
    padding: 5px;
}
input[type=submit] {
    width: 10%;
    border-radius: 4px;
    padding: 3px;
    height: 30px;
    border-style: none;
    background-color: #F8F9FA;
    cursor: pointer;
}
#logo {
    padding-top: 150px;
}
input[type=submit]:hover {
    border-style: groove;
    border-color: lightgray;
}
a {
    color: #000000DE;
    text-decoration: none;
    font-weight: lighter;
    font-family: 13px arial, sans-serif;
}
a:hover {
    text-decoration: underline;
}
#top-image {
    float: left;
    width: 15%;
    display: inline;
    text-align: left;
}
#h2 {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    text-align: left;
}
#p {
    text-align: left;
    font-size: 16px;
    padding: 15px;
    margin: 25px 29px;
}
#advanced {
    border-radius: 5px;
    padding: 20px;
    margin-right: 10px;
    padding-left: 42px;
}
.advanced-text {
    width: 100%;
    padding: 12px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 1px;
    resize: vertical;
    font-size: 13px;
}
.categories {
    float: left;
    width: 25%;
    margin-top: 6px;
    min-width: 167px;
}
.advanced-body {
    text-align: left;
    font-family: arial, sans-serif;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.col {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#advanced-submit {
    color: white;
    background-color:#4d90fe;
    border: 1px solid #3079ed;
    margin: 10px 0;
    padding: 0 12px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    min-width: 120px;
}