.title
{
    text-align: center;
    font-weight: bold;
}
.subtitle
{
    text-align: left;
    font-weight: bold;
    display: inline;
}
.defaultDiv
{
    text-align: left;
    margin-left: 35px;
    margin-right: 35px;
    border-style: solid;
    background-color: lightGray;
}
.defaultText
{
    text-align: left;
    margin-left: 5px;
}
body
{
    background-image: url("media/paperTexture2.jpg");
}
.navbar-brand
{
    color: white;
}
.nav-link
{
    color: white;
}
h3
{
    text-align: center;
    font-weight: bold;
}
table
{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
th, td
{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 3px;
}
.button
{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    display: inline;
}
.inline
{
    display: inline;
}
