{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <h1 style="text_align: center;">Add some more cash to your account:</h1>
    <p style="text_align: center;">Ironically, it's free.</p>
    <p></p>
    <form action="/add" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="cash" placeholder="Cash amount" type="number" min="1" step="1">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}