{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
            {% for symbol in symbols %}
                <tr>
                    <td> {{ symbol }} </td>
                    <td> {{ names[symbol] }}</td>
                    <td> {{ symbols[symbol] }} </td>
                    <td> {{ lookings[symbol] }} </td>
                    <td> {{ prices[symbol] }} </td>
                </tr>
            {% endfor %}
        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td> {{ cashed }} </td>
        </tr>
    </table>
{% endblock %}